.profile_data {
    margin-left: 20px;
}

.profile_item {
    line-height: 30px;
}

.profile_item span {
    font-size: 18px;
}

.textData {
    color:rgba(40,40,40, 0.5);
}

.contact {
    margin: 10px 0 0 20px;
    color: #ccc;
}

.profile_edit {
    margin: 10px 0 0 10px;
    width: 70px;
    border-radius: 10px; 
}

@media (max-width: 789px) {
    .profile_edit {
        margin:  20px auto 0;
        width: 60%;
    }
}