.header{
  grid-area: h;
  background-color: #1c1e21;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img{
  width: 40px;
  margin: 5px 0px 0px 20px;
}

.loginBlock {
  color: #ccc;
  font-size: 18px;
}


