.paginator {
    margin: 30px;
    max-width: 1000px;
    padding: 10px 0 0 200px;
}

.pageNumber {
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
}

.paginator span {
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 5px;
}

.paginator span+span {
    margin: 10px;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border:2px solid #04c400;
    color: #04c400;
    font-weight: normal;
}

@media (max-width: 1100px) {
    .paginator {
        padding: 10px 0 0 50px;
    }
}

@media (max-width: 664px) {
    .paginator .btn_next,
    .paginator .btn_prev {
        margin-top: 20px;
        margin-left: 0;
    }

    .paginator .btn_prev {
        margin-bottom: 20px;
    }
}

@media (max-width: 664px) {
    .paginator {
        padding: 0;
        margin-left: 0;
    }
}