.app__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  color: #ccc;
  position: relative;
}

.app__wrapper-content {
    background-color: #000061;
    padding: 100px;
}

a {
  text-decoration: none;
  color: #fff;
}

button, a, input[type="checkbox"] {
  cursor: pointer;
  z-index: 10;
}

button, input, textarea {
  outline: none;
  border: none;
}


