.nav{
  background-color: #1c1e21;
  position: fixed;
  width: 10%;
  height: 100%;
  top: 50px;
}

.nav__item {
  color: #fff;
  padding: 20px 0px 0px 20px;
}

.nav__item a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}


.nav__item a.active {
  color: gold;
}

@media (max-width: 908px) {
  .nav{
    width: 12%;
  }
}

@media (max-width: 759px) {
  .nav{
    width: 14%;
  }
}

@media (max-width: 652px) {
  .nav{
    width: 16%;
  }
}

@media (max-width: 555px) {
  .nav{
    width: 19%;
  }
}

@media (max-width: 468px) {
  .nav{
    font-size: 14px;
    width: 20%;
  }
}

@media (max-width: 390px) {
  .nav{
    font-size: 12px;
    width: 22%;
  }
}


